*{
    color: rgb(19, 9, 24);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(#5e1d49,#200016) ;
    height: 100vh;
    font-family:system-ui;
}
a{
    text-decoration: none;
    color: blanchedalmond;
}
header{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    position: fixed;
    width: 95%;
    z-index: 100;
}
header.logo{
    font-family: 50px;
    text-transform: uppercase;

}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}
header ul li {
 margin-right: 30px;


}
header ul li a {
   padding: 6px 15px;
   border-radius: 20px;

}
header ul li a:hover{
  background-color: azure;

}
.main{
    position: relative;
    height: 100hv;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main::after{
    content:'' ;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100px;
    background: linear-gradient (to top , #5e1d49,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
}
#moon2{
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.NOUVIL{
    color: aliceblue;
    
    font-size: 25px;
    text-transform: uppercase;
    transform: translateY(150px);
    transform: translateX(-140px);
    
}
.content1{
    margin-top: 80%;
    color: #fff;
    font-family: ;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
    
    
}
p{
    margin: 20px;
    color: #fff;
    max-width: 100%;
    margin: 0;
    box-sizing: ;

}
h2{
    color: #fff;
}