
.main{
    width: 40%;
    background-color: rgb(203, 165, 186);
    box-shadow: 1px 1px 10px rgb(106, 101, 101);
    margin-top: 50px;
    padding: 10px;
}
h2{
    font-family: 'Courier New', Courier, monospace;

}
input{
    margin-bottom: 10px;
    width: 60%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;

}
button{
    border: none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color:#1Ac15c;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}
label{
    padding:10px ;
    margin: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(103, 103, 237);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: tomato;
    font-weight: bold;
}